html{

  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1280px;
}

a{
  text-decoration: none;
  color: #ffffff;
  display: block;
}

/* Clearfix
----------------------------------------------------- */
.clearfix {
zoom:1
}
.clearfix:before, .clearfix:after {
content:"";
display:table;
}
.clearfix:after {
clear:both;
}

.container{
  width: 100%;
}

img{
  width: 100%;
}

.img_container{
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.img_and_btn{
  width: 20%;
  float: left;
  margin-left: 20%;
}

.button{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  border: solid 1px #ffffff;
}

a:hover{
  background-color: #f0f0f0;
  color: #000000;
}

.title{
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 80px;
  margin-top: 70px;
}
